
<section class="gestion-client-section">
<!--<input type="text" class="form-control" [(ngModel)]="newClient.nomSociete" placeholder="nom Societe">-->
<!--<input type="text" class="form-control" [(ngModel)]="newClient.adresse">-->
<!--<input type="text" class="form-control" [(ngModel)]="newClient.siret">-->
<!--<input type="text" class="form-control" [(ngModel)]="newClient.mail">-->
<h4>Ajout d'un client</h4>
  <!--****************************************************************************************
                    Ajout d'un client
  --****************************************************************************************-->
<form class="form-group " [formGroup]="clientForm"  #formDirective="ngForm"(submit)="addClient(formDirective)">
    <div class="form">
      <input type="text" id="name" formControlName="nomSociete" autocomplete="off" required="required">
      <label for="name" class="label-name">
        <span class="content-name">Nom de la societe</span>
      </label>
    </div>

  <div class="form">
    <input (blur)="check('mail')" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" id="mail-client" formControlName="mail" autocomplete="off" required="required">
    <label for="mail-client" class="label-name">
      <span class="content-name">Mail</span>
    </label>
  </div>
  <div class="form">
    <input type="text" id="adresse" formControlName="adresse" autocomplete="off" required="required">
    <label for="adresse" class="label-name">
      <span class="content-name">Adresse</span>
    </label>
  </div>
  <div class="form">
    <input type="text" (blur)="check('siret')" pattern="^[0-9]{14}$" id="siret" formControlName="siret" autocomplete="off" required="required">
    <label for="siret" class="label-name">
      <span class="content-name">Numero siret</span>
    </label>
  </div>

  <input *ngIf="this.clientForm.valid" type="submit" value="Ajouter" class="btn btn-info add-projet-button" >
  <p *ngIf="this.isAdd" class="update-client">Client mis à jour</p>
</form>
  <!--****************************************************************************************
                    table des clients permettant d'en rajouter ou supprimer
  --****************************************************************************************-->

<div class="mat-elevation-z8 table-client">
  <table class="formClient" mat-table [dataSource]="dataSource" matSort>
    <!-- Commande Column -->
    <ng-container matColumnDef="nomSociete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom societe </th>
      <td mat-cell *matCellDef="let row" class="input-update" >
          <input type="text" class="form-control" autocomplete="off" required="required" [(ngModel)]="row.nomSociete">

      </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse </th>
      <td mat-cell *matCellDef="let row">
          <input type="text" autocomplete="off" class="form-control" [(ngModel)]="row.adresse" required="required">
      </td>
    </ng-container>
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail </th>
      <td mat-cell *matCellDef="let row">

          <input type="text" autocomplete="off" class="form-control" [(ngModel)]="row.mail"required="required">

      </td>
    </ng-container>
    <ng-container matColumnDef="siret">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Siret </th>
      <td mat-cell *matCellDef="let row">
          <input type="text" autocomplete="off" class="form-control"[(ngModel)]="row.siret"required="required">

      </td>
    </ng-container>
    <ng-container matColumnDef="valider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> valider</th>
      <td mat-cell *matCellDef="let row">
        <a *ngIf="validateMail(row)"  (click)="this.updateClient(row)"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </svg>
        </a>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selectionner la page"></mat-paginator>
</div>
</section>


