
.questionnaire{
  text-align: center;
  margin: auto;
  vertical-align: middle;

}
.question-card{
  //padding: 10px;/////////// fais rien
}
.valider-commandes{
  border:none;
  background-color: transparent;
  position:absolute;
  bottom: 50px;
  right: 50px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.retour-arriere{
  z-index: 10000;
  position: absolute;
  top:50px;
  left:20px;
  background: transparent;
  border:none;
}
.margin-bot{
  padding: 50px;
}
.commandes-add{
  padding-bottom: 50px;
}
