
.case {
  height: 100px;
  margin: 10px;
  border-radius: 10px;

}

.badgeAttention {
  top: -18px;
  right: 5%;
  position: absolute;
  background: transparent;
  padding: 6px;
  border-radius: 10px;
  //border:2px;
  //border-color: black;
  cursor: pointer;
}

.badgeAttention:hover {
  //background-color: #8bc19a;
}


