<div  [ngClass]="{ 'chart1': width >= minWidth, 'chart1-responsive': width < minWidth }">
  <div style="display: block;"  *ngIf="doughnutChartLabels && doughnutChartData">
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
            [options]="doughnutChartOptions"
            [plugins]="doughnutChartPlugins"
            [legend]="doughnutChartLegend">
    </canvas>
  </div>





</div>
