<div  [ngClass]="{ 'chart1': width >= minWidth, 'chart1-responsive': width < minWidth }">
  <div style="display: block;"  *ngIf="doughnutChartLabels && doughnutChartData">
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
            [options]="doughnutChartOptions"
            [plugins]="doughnutChartPlugins"
            [legend]="doughnutChartLegend">
    </canvas>
  </div>

  <div>
    <button (click)="modify(0)">projet duree</button><br/>
    <button (click)="modify(1)">projet commandes</button><br/>
    <button (click)="modify(2)">projet utilisateurs</button><br/>
  </div>



</div>
