<app-nav *ngIf="this.c.isLogged() && this.c.isSuperAdmin()">
  <section class="padding-fenetre bg-white">
    <div class="opacity ">
      <div class="list-group-item">
        <h1 class="text-info text-center m-3"> Conges en attente</h1>

        <!------------------------------------- MENU -------------------------------------------------------------->
        <mat-tab-group>
          <!------------------------------------- ONGLET VISUALISATION DES CONGES EN ATTENTE-------------------------------------------------------------->
          <mat-tab label="Congés en attente">
            <div class="mt-5">
              <!------------------------------------- FILTRE -------------------------------------------------------------->
              <mat-form-field appearance="fill">
                <mat-label>Type de congé</mat-label>
                <select matNativeControl [(ngModel)]="this.etat" (change)="changerEtatTableau()">
                  <!----------------------------- A COMPLETER ------------------------------------------------>

                  <option *ngFor="let e of etats">{{e}}</option>
                  <option >TOUT</option>
                </select>
              </mat-form-field>
              <!------------------------------------- FILTRE -------------------------------------------------------------->
              <app-table-conges-en-attente></app-table-conges-en-attente>
            </div>
          </mat-tab>
          <!------------------------------------- ONGLET NOUVEAU CONGES -------------------------------------------------------------->

        </mat-tab-group>

        <!-----------------------------------------------DEBUT MENU--------------------------------------------------------->


      </div>
    </div>
  </section>
</app-nav>
