.inputNomCommande{
  display: inline-block;
  margin: 10px;
}

.add-projet{
  margin : 10px;
}
.titre{
  margin : 20px;
  font-size: 20px;
}
.notification-add{
  color:green;
  display: inline-block;
  margin-left: 10px;
}
