<p class="titre">Ajouter une tâche a un projet</p>

<!----------------------------------------------------------------------------------------------------------------->
<!------------------------- AJOUTER UNE Tache A UN PROJET------------------------------->
<!----------------------------------------------------------------------------------------------------------------->

<form class="form-group" [formGroup]="commandeProjet" #formDirective="ngForm" (submit)="addCommande(formDirective)">
  <div class="inputNomCommande">
    <input type="text" class="form-control" required formControlName="codeCommande" minlength="3"
           placeholder="Code tâche">
  </div>
  <mat-form-field appearance="outline" [ngClass]="{ 'add-projet': width >= 768, 'add-projet-responsive': width < 768 }">
    <mat-label>Selectionner un projet</mat-label>
    <mat-select formControlName="projet" required>
      <mat-option *ngFor="let projet of this.listeProjets" [value]="projet.id" (click)="getCommandesProjet()">
        {{projet.code_projet}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input *ngIf="this.commandeProjet.valid" type="submit" value="Ajouter" class="btn btn-info">
  <p class="notification-add" *ngIf="this.commandeAdd.contenu.length> 0">{{commandeAdd.contenu}}</p>
</form>
<!----------------------------------------------------------------------------------------------------------------->
<!------------------------- AJOUTER UNE tache A UN UTILISATEUR------------------------------>
<!----------------------------------------------------------------------------------------------------------------->
<div class="add-com-usr">

  <p class="titre">Ajouter une tâche a un utilisateur</p>


  <form class="form-group" [formGroup]="commandeUtilisateur">

    <!--****************************************************************************************
                      choisir un projet
    --****************************************************************************************-->
    <mat-form-field appearance="outline"
                    [ngClass]="{ 'add-projet': width >= 768, 'add-projet-responsive': width < 768 }">
      <mat-label>Selectionner un projet</mat-label>
      <mat-select formControlName="projet" required>
        <mat-option *ngFor="let projet of this.listeProjets" [value]="projet.id"
                    (click)="getCommandeProjetUser(projet)">
          {{projet.code_projet}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!----------------------------------------------------------------------------------------------------------------->
    <!------------------------- SELECTION DE LA tache et de l'utilisateur------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
    <app-add-user-com *ngIf="this.listeCommandeProjet.length>0" [listeCommandes]="this.listeCommandeProjet"
                      [isUpdate]="true" (listeUsersCom)="setComUser($event)"></app-add-user-com>


    <p class="notification-add" *ngIf="this.isAddRealisation">Tâche ajoutée à l'utilisateur</p>


  </form>

</div>
