<section class="padding-fenetre bg-white"*ngIf="this.con.isLogged() && this.con.isSuperAdmin()">
      <h1 class="text-info text-center m-3"> Conges en attente</h1>

      <!------------------------------------- MENU -------------------------------------------------------------->
      <mat-tab-group>
        <!------------------------------------- ONGLET VISUALISATION DES CONGES EN ATTENTE-------------------------------------------------------------->
        <mat-tab label="Gestion utilisateurs">
          <!---------------------------------------------- DEBUT TAB GESTION DES UTILISATEURS ----------------------------------------->
          <div class="mt-5">
            <table class="table table-striped table-responsive ml-4 pl-4 thead-dark">
              <thead>
              <tr>
                <th scope="col">ndc</th>
                <th scope="col">role</th>
                <th scpope="col">Actions</th>
              </tr>
              </thead>

              <tbody>

              <tr *ngFor="let u of this.utilisateurs">
                <!--<td>{{u.ndc}}</td>-->
                <td><small>{{u.role}}</small></td>

                <td class="overflow-hidden">
                  <div ngbDropdown container="body">
                    <button class="btn btn-outline-info btn-sm mt-3" ngbDropdownToggle *ngIf="this.con.isLogged()">Actions
                    </button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem >Voir plus</button>
                      <div *ngIf="this.con.isLogged() && this.con.write()" class="dropdown-divider"></div>
                      <button *ngIf="this.con.isLogged() && this.con.write()"ngbDropdownItem>Supprimer
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!---------------------------------------------- FIN TAB GESTION DES UTILISATEURS ----------------------------------------->
        </mat-tab>
        <!------------------------------------- ONGLET INSCRIPTION UTILISATEUR -------------------------------------------------------------->
        <mat-tab label="Inscription">
          <!------------------------------------- DEBUT FORMULAIRE INSCRIPTION UTILISATEUR -------------------------------------------------------------->
          <form [formGroup]="inscriptionForm" class="container form-group mt-4" (submit)="inscrireUtilisateur()">
            <small>Nom de compte</small>
            <input  formControlName="ndc" class="form-control border-success" [ngClass]="{'border-danger' : (this.inscriptionForm.get('ndc')!.value== '' || this.inscriptionForm.get('ndc') == null) }">
            <small>Mot de passe</small>
            <input formControlName="mdp" type="password" class="form-control border-success" [ngClass]="{'border-danger' : !(this.inscriptionForm.get('mdp')!.value!= '' &&this.inscriptionForm.get('mdp')!.value!= null && (this.inscriptionForm.get('mdp')!.value == this.inscriptionForm.get('mdp1')!.value))}">
            <small>Confirmer mot de passe</small>
            <input formControlName="mdp1" type="password" class="form-control border-success" [ngClass]="{'border-danger' : !(this.inscriptionForm.get('mdp')!.value!= '' &&this.inscriptionForm.get('mdp')!.value!= null && (this.inscriptionForm.get('mdp')!.value == this.inscriptionForm.get('mdp1')!.value))}">
            <small class="mr-1">role</small>
            <select formControlName="role" class='select-option mt-2 mr-2 text-info btn border-success' [ngClass]="{'border-danger' : (this.inscriptionForm.get('role')!.value == '' || this.inscriptionForm.get('role')!.value == null) }">
              <option class='option' *ngFor='let option of this.roles' [value]="option">{{option}}</option>
            </select>
            <small class="mr-1">grade</small>
            <select formControlName="grade" class='select-option mt-2 mr-2 text-info btn border-success' [ngClass]="{'border-danger' : (this.inscriptionForm.get('role')!.value == '' || this.inscriptionForm.get('role')!.value == null) }">
              <option class='option' *ngFor='let option of this.roles' [value]="option">{{option}}</option>
            </select>
            <br>
            <p class="alert-danger">{{message}}</p>
            <input type="submit" class="btn btn-outline-info mt-3" *ngIf="( (!(this.inscriptionForm.get('ndc')!.value== '' || this.inscriptionForm.get('ndc') == null))     &&    (this.inscriptionForm.get('mdp')!.value!= '' &&this.inscriptionForm.get('mdp')!.value!= null && (this.inscriptionForm.get('mdp')!.value == this.inscriptionForm.get('mdp1')!.value)) && ((this.inscriptionForm.get('role')!.value != null) && (this.inscriptionForm.get('role')!.value != ''))  )">

          </form>
          <!------------------------------------- DEBUT FORMULAIRE INSCRIPTION UTILISATEUR -------------------------------------------------------------->
        </mat-tab>
      </mat-tab-group>
</section>
