.formClient{
  width: 100%;
}
//input{
//  width: 150px;
//  margin:10px;
//}
.table-client{
  margin: 5%;
}

input{
  //width: 150px;
  //margin:10px;
  border:none;
}
a{
  cursor: pointer;
}
.gestion-client-section{
  padding-top:50px;
}
