
input{
  border:none;
}
.formResponsable{
  width: 100%;

}
.table-responsable{
  margin: 5%;
}
a{
  cursor: pointer;
}
.update-responsable{
  position: absolute;
  top:0;
  right: 0;
  color:green;
}
.form-group{
  position: relative;
}
