<app-nav>
  <section class="section-administration-cra">

    <p id="titre-visualisation-cr">Visualisation Comptes rendus</p>
    <!------------------------------------------------------------------------------------------>
    <!-------------------Accordéon--------------------->
    <!------------------------------------------------------------------------------------------>

    <mat-accordion>
      <!------------------------------------------------------------------------------------------>
      <!---------Comptes rendus en cours de validation ----------------------->
      <!------------------------------------------------------------------------------------------>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comptes rendus en attente de validation
          </mat-panel-title>
          <mat-panel-description>
            {{this.listeCraWaiting.length}} comptes rendus en attente
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-table-cra-en-attente (craWeekEmitter)="consulter($event)" [index]="''+1"></app-table-cra-en-attente>
      </mat-expansion-panel>


      <!------------------------------------------------------------------------------------------>
      <!---------Comptes rendus validés---------------------->
      <!------------------------------------------------------------------------------------------>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comptes rendus validés
          </mat-panel-title>
          <mat-panel-description>
            {{this.listeCraValidate.length}} comptes rendus validés
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-table-cra-en-attente (craWeekEmitter)="consulter($event)" [index]="'' + 2"></app-table-cra-en-attente>

      </mat-expansion-panel>

    </mat-accordion>

    <!------------------------------------------------------------------------------------------>
    <!---------Permet d'afficher le CRA à la semaine ----------------------->
    <!------------------------------------------------------------------------------------------>

    <app-compte-rendu-vue [craWeek]="this.actualWeek" *ngIf="this.actualWeek"></app-compte-rendu-vue>

  </section>

</app-nav>
