
.section-update-projet {
  width: 100%;
  margin: auto;

}

.section-update-projet-responsive {
  width: 100%;
  display: inline-block;
  margin: auto;
  padding: 0;
}

.clic-oeil {
  cursor: pointer;
}

.table-visualisation-projet {
  width: 100%;
}

.table-visualisation-projet-reponsive {
  width: 100%;
}

.pointer-can-click {
  cursor: pointer;
}

.table-responsive {
  margin-right: 0;
  margin-left: 0;
}

.table-non-responsive {
  margin-right: 10px;
  margin-left: 10px;
}
