.valider-all{
  border:none;
  background-color: transparent;
  padding-bottom: 50px;
}

.questionnaire{
  text-align: center;
  margin: auto;
  vertical-align: middle;

}
.question-card{
  padding: 10px;/////////// fais rien
}

.notification-add-projet{
  color:green;
  padding-top: 30px;
  display: inline-block;
}
