<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<html >


<div #content class="container" id="display">
  <p>
    {{pdf.nomSociete}}
  </p>
  <p>
    {{pdf.codeProjet}}
  </p>
  <p>
    {{pdf.responsableNom}}{{pdf.responsableNom}}
  </p>
  <h2>Recapitulatif</h2>
  <table class="table table-responsive-sm">
    <thead>
    <tr *ngFor="let elem of this.ligne" class="ligne-pdf">
      <th><div class="table-ligne">Date: {{elem.date}}</div></th>
      <th><div class="table-ligne">Commande: {{elem.codeProjet}}</div></th>
      <th><div class="table-ligne">Duree: {{elem.duree}} jours </div></th>
    </tr>
    </thead>
    <tbody>


    </tbody>
  </table>
  <p>
    {{user.nom}}{{user.prenom}}
  </p>
</div>

</html>
