<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<html >


<div #content class="container" id="display">
  <div class="logo">
    <img class="logo-pdf" src="assets/images/logoSlag.png" alt="logo">
  </div>
  <div class="d-flex justify-content-start">
    Client: {{pdf.nomSociete}}
  </div>
  <div class="d-flex justify-content-start">
    Commande: {{pdf.codeProjet}}
  </div>

  <p>
    {{pdf.responsableNom}}{{pdf.responsableNom}}
  </p>
  <h2>CRA pour M. {{user.nom.toUpperCase()}} {{user.prenom}}</h2>
  <table class="table table-responsive-sm">
    <thead>
    <tr >
      <th class="footer-pdf-recap" colspan="4">Récapitulatif</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let elem of this.ligne" class="ligne-pdf">
      <td><div class="table-ligne">{{getDateElem(elem)}}</div></td>
      <td><div class="table-ligne">{{elem.codeProjet}}</div></td>
      <td><div class="table-ligne">Imputation Jours Hommes_{{pdf.nomSociete}}</div></td>
      <td><div class="table-ligne"> {{getDuree(elem)}} </div></td>
    </tr>
    <tr class="footer-pdf-recap">
      <th colspan="1">OTP </th>
      <th colspan="2">DESCRIPTION </th>
      <th colspan="1">TEMPS </th>
    </tr>
    <tr>
      <td>{{this.pdf.codeProjet}} </td>
      <td>Imputation Jours Homme_{{pdf.nomSociete}} </td>
      <td>{{sommeDuree()}} jours </td>
    </tr>
    <tr class="footer-pdf-signature">
      <th  colspan="4">Signatures </th>
    </tr>
    <tr>
      <td>Collaborateur </td>
    </tr>
    <tr>
      <td>{{currentDate}} jours </td>
    </tr>


    </tbody>
  </table>
  <p>
    {{user.nom}}{{user.prenom}}
  </p>
</div>

</html>
