.ligne-pdf{
  font-size: 15px;
}
tr{
  height: 10px;
}

.table-ligne{
  height: 10px;
}
.footer-pdf-recap{
  background-color: #0f6674;
  width: 100%;
}
.footer-pdf-signature{
  background-color: #0f6674;
  width: 100%;
}
.logo-pdf{
  height: 100px;
  background: transparent no-repeat center;
  background-size: cover;
}
.logo{
  position: absolute;
  right:260px;
}
