<section class="padding-fenetre">
  <div class="opacity ">
    <div class="list-group-item">
      <h1 class="text-info text-center m-3"> Visualisation Conges</h1>
      <!------------------------------------- STATISTIQUES -------------------------------------------------------------->
      <div class="row justify-content-center list-group-horizontal mt-5">
        <ul class="list-group-item  border-success">Jours de congés cumulés: {{congesCumules}}</ul>
        <ul class="list-group-item border-danger">Jours de congés posés: {{congesPoses}}</ul>
        <ul class="list-group-item border-left border-warning">Jours de congés restant: {{congesRestant}}</ul>
      </div>

      <!------------------------------------- FIN STATISTIQUES -------------------------------------------------------------->
      <!--
      -->
      <!------------------------------------- MENU -------------------------------------------------------------->
      <mat-tab-group>
        <!------------------------------------- ONGLET VISUALISATION -------------------------------------------------------------->
        <mat-tab label="Visualisation">
          <div class="mt-5">
            <app-table-conges></app-table-conges>
          </div>
        </mat-tab>
        <!------------------------------------- FIN ONGLET VISUALISATION -------------------------------------------------------------->
        <!--
        -->
        <!------------------------------------- ONGLET NOUVEAU CONGE -------------------------------------------------------------->

        <mat-tab label="Nouveau congé">
          <!---------------------------------- DEBUT FORMULAIRE ------------------------------------------------------------------>
          <!--
          -->
          <div class="form-group" [formGroup]="formulaire" (change)="changement()">
            <!---------------------------------- CONSIGNES UTILISATION ------------------------------------------------------------------>
            <div class="mt-5 host">
              <ul>
                <li>
                  Il faut choisir une période de congés,selon le nombre de jours restants.
                </li>
                <li>
                  Si c'est un congés exceptionnel, veuillez cocher la case "Congé exceptionel" ce qui vous donnera la
                  permission de faire une demande dans les jours qui suivent.
                </li>
                <li>
                  Veuillez indiquer si je premier et dernier jour de vacances sont des demies journées de congés ou non.
                  <br>(Si vous désirez prendre 3 jours de vacances du lundi au mercredi veuillez indiquer pour le lundi
                  et le mercredi si vous désirez poser ces journées entièrement ou prendre uniquement une demie journée)
                </li>
              </ul>
              <!---------------------------------- FIN CONSIGNES UTILISATION ------------------------------------------------------------------>
              <div class="host ml-5">
                <!----------------------------------DATE PICKER ------------------------------------------------------------------>
                <mat-form-field appearance="fill" class="mb-2">
                  <mat-label>Période du congé</mat-label>
                  <mat-date-range-input [rangePicker]="picker" [min]="minDate"
                                        [max]="maxDate">
                    <input matStartDate formControlName="start" placeholder="Début" matNativeControl required>
                    <input matEndDate formControlName="end" placeholder="Fin" matNativeControl required>
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <!---------------------------------- FIN DATE PICKER ------------------------------------------------------------------>
                <br>
                <!---------------------------------- Types Conges ------------------------------------------------------------------>
                <mat-form-field appearance="fill">
                  <mat-label>Type de congé</mat-label>
                  <select formControlName="typeConge" (change)="changementEtatCongeExceptionnel(this.formulaire.get('typeConge')!.value)" matNativeControl required>
                    <!----------------------------- A COMPLETER ------------------------------------------------>
                    <option *ngFor="let t of typesConges">{{t}}</option>
                    <option>URGENT</option>
                    <option>autre</option>
                  </select>
                </mat-form-field>
                <!---------------------------------- Choix Date Debut SELECT ------------------------------------------------------------------>
                <mat-form-field appearance="fill">
                  <mat-label>Date début</mat-label>
                  <select formControlName="dateDebutChoix" matNativeControl required>
                    <option value="demi-journee">Demi-journée</option>
                    <option value="journee-complete">Journée complète</option>
                  </select>
                </mat-form-field>
                <!---------------------------------- Choix Date FIN SELECT ------------------------------------------------------------------>
                <mat-form-field appearance="fill">
                  <mat-label>Date fin</mat-label>
                  <select formControlName="dateFinChoix" placeholder="Fin" matNativeControl required>
                    <option value="demi-journee">Demi-journée</option>
                    <option value="journee-complete">Journée complète</option>
                  </select>
                </mat-form-field>
              </div>
              <!---------------------------------- RAISON CONGES EXCEPTIONNEL ------------------------------------------------------------------>
              <mat-form-field class="example-full-width ml-5" appearance="fill" *ngIf="this.formulaire.get('typeConge')!.value == 'URGENT'">
                <mat-label>Raison du congé exceptionnel</mat-label>
                <textarea matInput formControlName="raisonConge" placeholder="Ex. Décès, Maladies..." matNativeControl required></textarea>
              </mat-form-field>
            </div>
            <!---------------------------------- BOUTON VALIDATION ------------------------------------------------------------------>
            <button class="btn btn-outline-success mt-5 ml-5" *ngIf="formulaire.valid">ENVOYER</button>
            <!--
            -->
            <!---------------------------------- FIN FORMULAIRE ------------------------------------------------------------------>
          </div>
        </mat-tab>
        <!------------------------------------- FIN ONGLET NOUVEAU CONGE -------------------------------------------------------------->
        <!--
        -->
      </mat-tab-group>
      <!------------------------------------- FIN MENU-------------------------------------------------------------->
    </div>
  </div>
</section>
