<section class="padding-fenetre bg-white">
  <div class="opacity ">
    <div class="list-group-item">
      <h1 class="text-info text-center m-3"> Conges en attente</h1>

      <!------------------------------------- MENU -------------------------------------------------------------->
      <mat-tab-group>
        <!------------------------------------- ONGLET VISUALISATION DES CONGES EN ATTENTE-------------------------------------------------------------->
        <mat-tab label="Congés en attente">
          <div class="mt-5">
            <app-table-conges-en-attente></app-table-conges-en-attente>
          </div>
        </mat-tab>
        <!------------------------------------- ONGLET NOUVEAU CONGES -------------------------------------------------------------->

      </mat-tab-group>

      <!-----------------------------------------------DEBUT MENU--------------------------------------------------------->


    </div>
  </div>
</section>
