.colorPicker{
  width: 70px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  border: gray;
}
.inputNomProjet{
  display: inline-block;
  margin: 10px;
}
.addProjet{
  display: inline-block;
  height: 300px;

}
.add-projet-button{
  margin-left : 10px;
}

.notification-add-projet{
  color:green;
  display: inline-block;
  margin-left: 10px;
}

.color-projet{
  display: inline-block;
  margin: 10px;
}
