.decalage {
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.colonneJour {
  border-radius: 10px;
  background-color: #5b5c68;
  padding: 10px;
  width: 100%;
}

.persoTest {
  width: 50%;
  padding-bottom: 1000px;
}

.d-flex flex-column {
  vertical-align: middle;
}


.nomCommande {
  height: 100px;
  width: 200px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.decalageNomProjetHaut {
  height: 70px;
  margin: 10px;
}

.jourSemaine {
  text-align: center;
  height: 50px;
}

.textJour {
  font-size: 30px;
  color: white;
}



.viewCommande {
  display: none;
}


.jour-actuel {
  border-bottom: 2px white solid;
}

.date-jour-afichage {
  font-size: 32px;
  margin: 10px;
}

.button-delete {
  border: none;
  background: transparent;
}

.width {
  width: 16%;
}

.badge-conge {
  right: 0px;
  margin-top: 5px;
  position: absolute;
}

.div-span {
  position: relative;
}

.nom-projet-commande {
  width: 100%;
  position: absolute;
  bottom: -17px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.delete-line {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.case-commande {
  position: relative;

}

.nom-commande-liste {
  padding: 20px;
}
