#titre-administration {
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

.section-administration-projet {

}

.update-responsable {
  background-color: rgba(148, 193, 245, 0.28);
  border-radius: 20px;
  padding: 30px;
}

.update-client {
  background-color: rgba(148, 193, 245, 0.28);
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

}
