<app-nav>
  <section class="section-administration-projet">
    <p id="titre-administration">Pannel administrateur concernant la gestion des projets</p>


    <!------------------------------------------------------------------------------------------>
    <!---------mat tab permet d'avoir deux slides pouvant glisser de gauche à droite ----------------------->
    <!------------------------------------------------------------------------------------------>
    <div class="container">

      <mat-tab-group  [selectedIndex]="0">
        <mat-tab label="Gestion des projets">
          <!--        <app-visualisation-projet-com></app-visualisation-projet-com>-->
          <app-update-project></app-update-project>
        </mat-tab>
        <mat-tab label="Ajouter un projet" >
          <!--    Composant pouvant ajouter un projet-->
          <!--        <app-add-projet></app-add-projet>-->
          <app-aide-ajout-projet></app-aide-ajout-projet>
        </mat-tab>
        <mat-tab label="Ajouter une commande">
          <!--    composant permettant d'ajouter une commande-->
          <app-add-commande></app-add-commande>
        </mat-tab>

        <mat-tab label="Gestion Client / responsable">
          <!--        <app-visualisation-projet-com></app-visualisation-projet-com>-->
          <div class="update-client">
          <app-update-client-responsable></app-update-client-responsable>
          </div>
          <div class="update-responsable">
          <app-update-reponsable></app-update-reponsable>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>

  </section>

</app-nav>
